body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: white;
}

.sign,
.sign ul {
  position: absolute;
  margin: 0;
  padding: 9px 20px;
  color: #999;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, .1);
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  z-index: 14;
  background: rgba(18, 18, 18, .93);
  right: 3%;
  top: 5%;
  opacity: 0.75;
}

.menu,
.menu ul {
  display: block;
  position: absolute;
  margin: 0;
  padding: 9px 20px;
  color: #999;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, .1);
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  z-index: 14;
  background: rgba(18, 18, 18, .93);
  left: 3%;
  top: 5%;
  opacity: 0.75;
}

a:hover { 
  background-color: red;
}

.sign a {
  transition: background-color 0.7s ease-out;
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.sign li {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.desc1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .8);
}

.desc2 {
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  line-height: 1.3;
  color: #d8d8d8;
}

.desc3 {
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  color: rgb(224, 224, 224);
  line-height: 1.8;
}

.menu a {
  transition: background-color 1s ease-out;
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.menu li {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.img1, .img2, .img3, .img4  {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:13
}

.img1 {
  background-image: url("wc1.jpg");
  min-height: 100vh;
}

.img2 {
  background-image: url("wc3.jpg");
  min-height: 400px;
}

.img3 {
  background-image: url("wc2.jpg");
  min-height: 100vh;
}

.img4 {
  background-image: url("wc1.jpg");
  min-height: 400px;
}

.ScoreButtons {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 12vh;
  text-align: center;
  color: #000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: uppercase;
  font: 28px "Lato" sans-serif ;
  color: white;
  z-index: 15;
}

.button3 {
  display:inline;
  cursor: pointer;
  margin:0 0.3em 0.3em 0;
  padding:10px 10px 10px 10px;
  min-width: 20px;
  min-height: 5px;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  text-transform: none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  font-size: 14px;;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}  

.button3:hover{
  background-color:#4095c6;
 }


 @media all and (max-width:30em){

  a.button3{
  display:block;
  margin:0.2em auto;
  }
}

.group-table {
  position: absolute;
  top: 10vh;
  width: 100%;
  text-align: center;
  color: #000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: uppercase;
  font: 28px "Lato" sans-serif ;
  color: white;
}

.friends {
  position: relative;
  top: 10vh;
  text-align: left;
  width: 50vw;
  left: 25vw;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: white;
  border-collapse: collapse;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.friends td, .friends th {
  border: 1px solid #ddd;
  padding: 8px;
}

.friends tr{background-color: #f2f2f2; color: #000000}

.friends tr:hover {background-color: #ddd;}

.friends th {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.caption {
  position: absolute;
  top: 25vh;
  width: 100%;
  text-align: center;
  color: #000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: uppercase;
  font: 28px "Lato" sans-serif ;
  color: white;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  letter-spacing: 4px;
  background: rgba(18, 18, 18, .93);
  padding: 10px 14px;
  font: 28px "Lato", sans-serif;
  text-transform: uppercase;
  border-spacing: 10px
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  text-align:center;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.login {
  position: absolute;
  top: 5%;
  left: 5%;
  color: #000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: uppercase;
  font: 28px "Lato" sans-serif ;
  color: white;
}

.log, .login {
  margin: 10px;
  letter-spacing: 4px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font: 14px "Lato", sans-serif;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
  z-index: 12;
}

.border {
  background-color:transparent;font-size:25px;color: #f7f7f7;
}


.regular {
  color: #ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px;
  color: white;
  text-decoration: none;
  font: 14px "Lato", sans-serif;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
}


.regular-text {
  color: #ddd;
  text-align:center;
  padding:50px 80px;
  letter-spacing: 4px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font: 14px "Lato", sans-serif;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
}

.scroll-down {
  width: 150px;
  height: 43px;
  margin-left: -75px;
  line-height: 43px;
  white-space: nowrap;
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .5) !important;
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}